.outer-wrapper {
    width: 80%;
    margin: auto;
    min-height: 60vh;
}

.outer {
  padding-left: 135px;
  min-height: 60vh;
}

.contentBox {
    width: 80%;
    min-width: 600px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #FFA000;
    border-radius: 0.5rem;
    padding: 20px;
}

.basic-btn {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;  
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    background-color: white;
    border-color: #F57C00;
    color: #F57C00;
}

.basic-btn:hover {
    background-color: #F57C00;
    color: white;
}

.reversed-btn {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;  
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    background-color: #F57C00;
    border-color: #F57C00;
    color: white;
}

.reversed-btn:hover {
    background-color: #E64A19;
    border-color: #E64A19;
    color: white;
}

.basic-a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.basic-a:hover {
    color: #FF5722;
}

.location-center {
    text-align: center;
}

.location-right {
    text-align: end;
}

h3 {
    color: #E64A19;
}