@charset "UTF-8";


/*campInsert || campDetailInfo  CSS*/

/* common */
*{
    padding: 0;
    margin: 0
}

li {
    list-style: none
}



	main {

		/* background-color: #212121; */
		/* position: relative; */
		/* border: 3px solid rgba(201, 201, 201, 0.486); */
		/* background-color: aquamarine; */
		/* display: block; */
		width: 80%;
		/* margin-left: 10%;
		margin-right: 10%; */
		
        margin-bottom: 20px;
		height: 900px;
		z-index: 999;
		box-shadow: 0 0 3px gray;
	}

	
	#side {

		/* position: relative; */
		/* border:1px solid rgb(0, 153, 204); */
		background-color: #bc5100b9;
		float: left;
		margin-left: auto;
		height: 900px;
		width: 21%;
		
	}

	#sidebar {
		/* position: relative; */
		/* border: 1px dotted black; */
		width: 100%;
		height: 50%;

		box-sizing: border-box;

		/* margin: auto; */
		margin-top: 30%;

	}

	/* 사이드(<-)메뉴 */
	.menu {
		width: 100%;
		overflow: hidden;
		margin: auto;
		padding-left: 0;
		
	}

	.menu>ul li {
		padding-left: 0;
	}

	.menu>li {
		width: 90%;
		
		margin-left: 5%;
		text-align: center;
		line-height: 40px;
		/* background-color: rgb(132, 166, 192); */

	}

	.menu>li :hover{ 
		color: #bc5100;
		
	}

	.menu a {
		color: #fff;
		text-decoration: none;
		
	}

	.submenu>li {
		line-height: 50px;
		border-bottom: 2px solid rgba(68, 68, 68, 0.1);
		background-color: rgba(153, 153, 153, 0.178);
	}
	
	.submenu {
		
		height: 0;
		overflow: hidden;
	}

	.menu>li:hover {
		padding-left: 0;
		transition-duration: 0.5s;
	}

	.menu>li:hover .submenu {
		
		height: 150px;
		/*서브메뉴 li한개의 높이 50*n*/
		
		transition-duration: 1.5s;
	}

	/*  */
	#content {
    /* position: relative; */
    /* border:1px solid rgba(51, 204, 0); */
    /* float: left; */
    height: 90%;
    width: 90%;

    display: flex;
    flex-direction: column;
    margin: 50px;
    
}
	#content_box{
    position: relative;
    
    border: 3px solid rgba(97, 97, 97, 0.589);
    
    width: 100%;
    height: 90vh;

    
    justify-content: center;
    
	}
	
	form div{
		padding-bottom: 10px;
	}

	/* 등록버튼 */
	#end{
		text-align: end;
		
	}
	#center{
		text-align: center;
	}

/* Insert->등록버튼 */
	#send{
		text-align: center;
        vertical-align: middle;
        cursor: pointer;
        padding: 1%;
        background-color: white;
        border-color: #bc5100b9;
        color: #bc5100;
	}
	#send:hover{
		background-color: #bc5100b9;
		color: white;
	}

/*info -> 수정/삭제버튼 */
/* 수정버튼 */
#upDate{
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px 3px #999;
}
#upDate:hover {background-color: #3e8e41}

#upDate:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/* 삭제하기버튼 */
#delete{
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
	/* border: 3px solid #ca7f1d ; */
    background-color: #d82f2f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px 3px #999;
}
#delete:hover {background-color: #b12727}

#delete:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

tr:hover{
	cursor: pointer;
}
tr>th:hover{
	cursor: default; 
}

a{
	display: block;
}

/* 등록하기 테마 테이블 css */
#tdTheme table{
	border-spacing: 10px;
	border-collapse: separate;	
}

/* 테이블 css*/
	#table-main{
		
		
		width: 95%;
		margin-top: 50px;
	}

	#table-main tbody>tr:hover{
		background-color: darkgray;
		cursor: pointer;
	}
	
		/*시설현황*/
input[class="facility"] + label {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
		margin: auto;
	margin-bottom: 10px;
	
}
input[class="facility"]:checked + label {
	background-color: #666666;
    color:white;
    
}
input[class="facility"] {
	display: none;
}
input[class="facility"]+label{
	
	background: url("/resource/img/facility.png") no-repeat 0 0px / contain;	
}
	

input[class="facility"]:checked+label{
	background: url('https://placehold.jp/200x200.png') no-repeat 0 0px / contain;
}
