	/* 제일큰틀 */

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	#freeboard-trade-detail-outer{
		border: 3px solid brown;
        height: auto;
		border-radius: 5px;
	}

	
	#tradeBoard-img-outer{
        display: flex;
        height: 28%;
        margin: 0 auto;
		padding: 0px;
    }


	#tradeBoard-reple-outer{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
        height: auto;
    }
    
    

	/* 2차 틀 */

	#tradeBoard-img-outer>div{
		margin: 0 auto;
		padding: 0px;
        height: 100%;
    }

	#tradeBoard-section-content{
        height: auto;
        margin: 0 auto;
		padding: 0px;
		vertical-align: baseline;
    }

	#tradeBoard-section-info{
		display: flex;
        height: 7%;
    }


	/* 꾸미기 */


	/* 작성자,조회수 글제목 등 게시글 관련 */
	#tradeBoard-section-info-items{
		margin: 0 auto;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}


	#fbt-left-div{
		display: flex;
		margin-left: 8px;
		flex-direction: column;
		font-size: 1.5rem;
	}


	#fbt-right-div{
		display: flex;
		margin-right: 8px;
		flex-direction: column;
		font-size: 1.5rem;
	}
	

	.tradeBoard-section-info-datas{
		font-size: 2rem;
		margin-top: 6px;
		color: darkgray;
		height: 8%;
	}

	#tradeBoard-section-content-text{
		font-size :1.5rem;
		height: auto;
		width: 100%;
	}
	

	/* 댓글 목록 및 댓글 작성 관련 */
	.select-reple{
		width: 100%;
		height: 150px;
		border-radius: 10px;
		border: 5px solid blanchedalmond;
		position: relative;
		margin-bottom: 5px;
	}

	.reple-id>p{
		margin-top: 3px;
		font-size: 1.2rem;
		font-weight: 800;
		color: brown
	}

	.reple-id>p>a {
		position: absolute;
		right: 3px;
	}

	.reple-sub{
		position: absolute;
		bottom: 5px;
	}
	
	.reple-content{
		height:auto;
	}

	#reple-empty-text{
		text-align : center;
		color : lightgray;
		margin-bottom: 20px;
	}
	
	
	/* 보더라인 */
	.fbt-top-line{
		width: 100%;
        height: 5px;
		background-color: rgb(240, 225, 203);
        margin-bottom: 1%;
        margin-top: 1%;
	}
		