
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    
    /* 전체적인 크기 잡기 */
    

    /* 크기잡기 */
    #tradeBoard{
        border-radius: 2rem;
        margin-bottom: 100px;
        border: 3px solid rgb(240, 225, 203);
    }

    #tradeBoard-main-item{
        width: 100%;
        height: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #tradeBoard-2{
        width: 100%;
        height: 150px;
    }
    
    #Board-table-outer{
        width : 100%;
        height : 40%;
        
    }
    
    
    #tradeBoard-2>input{
        width: 100%;
        height: 100%;
        font-size: 3rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    #freeBoard{
        border-radius: 2rem;
        border: 3px solid rgb(240, 225, 203);
    }

    #freeBoard-1{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
    }

    .freeBoard-1-story{
        width: 100%;
        height: 30%;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 4px dashed gray;
    }
    
    #freeBoard-1-pcontent{
        font-size: 2.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap:break-word; 
        line-height: 1.2em;
        height: 2.4em;
    }
    
    
    #freeBoard-2{
        width: 100%;
        height: 150px;
    }

    #freeBoard-2>input{
        width: 100%;
        height: 100%;
        font-size: 3rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }


    /* 꾸미기 시작 */


    .menu-items{
        width: 30%;
        height: 300px;
    }

    .menu-items>a{
        text-decoration: none;
        color: black;
        height:230px;
    }

    .menu-items>a:hover{
        color:black;
    }
    

    #tradeBoard-img-outer{
        height: 60%;
        overflow: hidden;
        border-radius: 10px;
        margin: 0;
        padding: 0;
        cursor: pointer;
        text-align: left;
    }

	#tradeBoard-img-outer>img{
		width:100%;
		height:100%;
		object-fit:cover;
	}

    .tradeBoard-comment-outer{
        font-weight: 1000;
        font-size: 1.5rem;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
    }

    .tradeBoard-title{
        font-size: 3rem;
        font-weight: 800;
        height: 5%;
        margin: 30px 0px 30px 50px;
        color: brown;
    }

    .tradeBoard-title-2{
        font-size: 1.5rem;
        font-weight: 500;
		height: 5%;
        color: #ff8000;
        margin-left:30px;
    }

    #tradeBoard-subtitle1{
        font-size: 1rem;
        line-height: 18px;
        margin-top: 10px;
        color: #868e96;
        margin: 1px;
        padding-bottom: 5px;
    }

    #tradeBoard-subtitle2{
        font-size: 1.2rem;
        line-height: 18px;
        margin-top: 6px;
        color: burlywood;
        font-weight: 800;
    }


    #tradeBoard-2 , #freeBoard-2{
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: rgb(240, 197, 7);
        border-top: 1px solid silver;
    }


    /* 
    
    */


    .freeBoard-1-story-outer{
        position: relative;
        overflow: hidden;
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

    .freeBoard-1-story-outer:hover{
        color: black;
    }

    .freeBoard-story-date{
        font-size: 2rem;
        margin-top: 6px;
        color: darkgray;
        line-height: 18px;
    }

    .freeBoard-story-count{
        position: absolute;  
        bottom: 0px; 
        right: 0px; 
        height: 25%;
        margin-top: 10px;
    }


    .Board-table-outer{
        width: 100%;
        padding-top : 5px;
        padding-bottom : 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap : wrap;
        text-align: center;
        margin-bottom:2%;
        border-top: 1px solid rgb(241, 216, 177);

    }

    #Board-table-outer-main{
        width: 100%;
        margin-top: 5%;
        table-layout : fixed;
    }

    #Board-table-outer-main>tbody tr:hover{
        background-color: rgb(241, 216, 177);
        cursor:pointer;
    }
    
    #Borad-table-main{
        width: 100%;
        margin-top: 5%;
        table-layout : fixed;
    }
    
    thead{
        padding-bottom: 20px;
    }

    #Borad-table-main>tbody tr:hover{
        background-color: rgb(241, 216, 177);
        cursor:pointer;
    }
    
    
    
    
    .fb-page-area{
        width: 80%;
        text-align: center;
        margin: auto;
        margin-bottom: 5%;
    }
    
    .fb-page-area a {
        margin :0px 0px 5px 0px;
    }


    thead {
        margin-top : 10%;
    }

    thead tr {
        color: black;
        font-weight: 800;
        font-size: 2rem;
        border-bottom: 1px dashed lightgoldenrodyellow;
    }

	/* 
	
	*/

	.fb-tr-Title{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space : nowrap;
		width : 30%;
	}

	.fb-tr-Content{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		width: 50%;
	}








